section {
    margin-top: 0px;
}

.carousel-inner {
    height: 520px;
}

.news-section,
.main-news {
    margin-top: 30px;
}


/* for small devices */

@media only screen and (min-width: 375px) {
    .carousel-inner {
        height: 200px;
    }
}


/* for medium devices */

@media only screen and (min-width: 800px) {
    .carousel-inner {
        height: 400px
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 1360px) {
    .carousel-inner {
        height: 579px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1900px) {
    .carousel-inner {
        height: 891px;
    }
}