{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mysite | {{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'front/images/icons/favicon.png' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css'%}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}" />
    <!--===============================================================================================-->
</head>

<body>
    <!-- ========================================================== -->
    <!-- header start -->
    {% include 'header2.html' %}
    <!-- header end -->
    <!-- ========================================================== -->

    <!-- ========================================================== -->
    <!-- featured post -->
    {% block content %}
    <!-- here we will set our contents -->
    {% endblock %}
    <!-- end of block content -->
    <!-- ========================================================== -->

    <!-- ========================================================== -->
    <!-- footer start -->
    {% include 'footer.html' %}
    <!-- footer end -->
    <!-- ========================================================== -->

    <!-- ========================================================== -->
    <!-- scripts -->
    {% include 'scripts.html' %}
    <!-- scripts end -->
    <!-- ========================================================== -->

</body>

</html>