{% load static %}
<!--===============================================================================================-->
<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'front/js/main.js' %}"></script>